/*-- Font --*/
@font-face {
	font-family: Stratos-Regular;
	src: url("./font/Stratos-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/*-- Reset-Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Roboto', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}

input[type="button"], input[type="submit"], button.btn, button.btn:hover {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

p {
	margin: 0;
	margin-bottom: 37px;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

img {
	width: 100%;
}

a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	box-shadow: none;
}

/*-- //Reset-Code --*/

/*// //Scroll bar --*/
/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
	background-color: #0b0326;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18043d), color-stop(11%, #0b0326), color-stop(67%, #0b0326), to(#000));
    background-image: linear-gradient(180deg, #18043d, #0b0326 11%, #0b0326 67%, #000);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(255, 255, 255);
    background-image: linear-gradient(200deg, rgb(158, 97, 255), rgba(142, 97, 255, 0) 34%), radial-gradient(circle at 0% -100%, rgb(97, 155, 255) 20%, rgba(205, 219, 248, 0) 51%), linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
    border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
}


/*// Scroll bar --*/


/*-- // Common CSS --*/

.title__{
	font-family: Stratos-Regular !important;
	font-size: 45px;
    font-weight: 800;
    margin: 0 0 6px;
    text-shadow: 0 3px 7px rgba(0,0,0,.33);
    letter-spacing: 3px;
	color:#FFF;
}
.button__ {
	display: inline-block;
	padding: 15px 49px;
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(200deg,
			rgb(158, 97, 255),
			rgba(142, 97, 255, 0) 34%),
		radial-gradient(circle at 0% -100%,
			rgb(97, 155, 255) 20%,
			rgba(205, 219, 248, 0) 51%),
		linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
		color: rgb(252, 252, 255);
		font-weight: 800;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: .8px;
	line-height: 1.4;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: all 250ms ease 0s, box-shadow 200ms ease 0s,
		filter 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
		border-radius: 3px;
}

.button__:hover {
	border-style: none;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.26);
	box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 30px 0px;
	color: white;
	filter: hue-rotate(83deg);
	transform: scale(1.1);
}


/*-- // Common CSS --*/


/*-- Index-Page-Styling --*/





/*-- Header --*/

.agileheader {
	position: relative;
}

	/*-- Navbar --*/

	.w3lsnavigation {
		position: absolute;
		z-index: 9;
		width: 100%;
		background: black;
	}

	/*-- //Navbar --*/

	/*-- Logo --*/

	.navbar-inverse {
		border: none;
		padding: 0;
		border-radius: 0;
		width: calc(100% - 6%);
		margin: 0 auto;
		background: transparent;
	}

	.logo img {
		width: 95px;
	}

	/*-- //Logo --*/

	/*-- Hover-Effect --*/

	.agilehover-effect ul {
		margin:0;
		padding:0;
		text-align:center;
	}

	.agilehover-effect li {
		list-style:none;
		display:inline-flex;
		align-items: center;
		margin: 10px 5px;
		height: 50px;
	}

	.agilehover-effect li a {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		position: relative;
		display: inline-block;
		outline: none;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.agilehover-effect li a:hover, .agilehover-effect li a:focus {
		outline: none;
	}

	.wthreeeffect li a:hover {
		color:#FFF;
		-ms-animation: opacity forwards 1s;
		-moz-animation: opacity forwards 1s;
		-webkit-animation: opacity forwards 1s;
		animation: opacity forwards 1s;
	}

	@keyframes opacity {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}

	.wthreeeffect li a:before, .wthreeeffect li a:after {
		position: absolute;
		top: -20px;
		left: 0;
		content: "O";
		display: block;
		width: 100%;
		font-size: 0px;
		color: #FFF;
		text-align: center;
		z-index: -100;
	}

	.wthreeeffect li a:hover::before {
		animation: drop 1s;
		-ms-animation: drop 1s;
		-moz-animation: drop 1s;
		-webkit-animation: drop 1s;
	}

	.wthreeeffect li a:hover::after {
		animation: drop 1s 0.5s;
		-ms-animation: drop 1s 0.5s;
		-moz-animation: drop 1s 0.5s;
		-webkit-animation: drop 1s 0.5s;
	}

	@keyframes drop {
		0% {
			opacity: 1;
			font-size: 0;
			top: 0;
		}
		100% {
			opacity: 0;
			font-size: 80px;
			top: -50px;
		}
	}

	.navbar-inverse .navbar-nav>li>a {
		color: #CCC;
	}

	.navbar-inverse .navbar-nav>li>a:hover {
		color: #FFF;
	}

	.navbar-inverse .navbar-nav>li>a:focus {
		color: #FFF;
	}

	/*-- //Hover-Effect --*/



	/*-- Dropdown-Menu --*/

	.dropdown-menu {
		background-color: rgba(10, 10, 10, 0.77);
		border: 2px ridge rgba(238, 238, 238, 0.13);
		border-radius: 5px;
		-moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
		-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
		box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
		top: 60px;
		padding: 10px;
	}

	.dropdown-menu {
		width: 250px;
		text-align: left;
	}
 
	.dropdown-menu > a{
		margin: 10px 0;
		color: #CCC;
	}

	/*-- //Dropdown-Menu --*/

/* -- // Humburger Menu --*/
.hamburger-menu {
	width: 25px;
	height: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 0.3s ease-in-out 0s;
	position: absolute;
	right: 15px;
	top: 23px;
	opacity: 0;
	visibility: hidden;
}

.bar {
	width: 100%;
	height: 2px;
	background-color: rgb(152, 160, 187);
	border-radius: 7px;
	transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.bar:nth-child(1) {
	transform: translateY(0px);
}

.bar:nth-child(2) {
	transform: translateY(0px);
}

.bar:nth-child(3) {
	transform: translateY(0px);
}

.hamburger-menu:hover .bar:nth-child(1) {
	transform: translateY(5px);
	opacity: 0.7;
}

.hamburger-menu:hover .bar:nth-child(2) {
	transform: scaleX(0);
}

.hamburger-menu:hover .bar:nth-child(3) {
	transform: translateY(-5px);
	opacity: 0.7;
}

/* -- // Humburger Menu --*/
/* -- // Pushbar CSS Custom code -- */


.push__bar .mobile__navigation__ {
	width: calc(100% - 20px);
	margin: auto;
	padding: 0px 1rem;
}

.push__bar .mobile__navigation__ ul {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.push__bar .mobile__navigation__ ul li {
	padding: 0.8rem 0px;
}

.push__bar .mobile__navigation__ ul li a {
	color: var(--custom-purple-color);
	opacity: 0.7;
	transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
		opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	font-family: var(--manrope-font);
	font-weight: 500;
	font-style: var(--font-style);
}

.push__bar .mobile__navigation__ ul li:hover a {
	color: var(--white-color);
	opacity: 1;
}

html.pushbar_locked {
	overflow: hidden;
	touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
	filter: blur(15px);
}

.pushbar_overlay {
	z-index: -999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	will-change: opacity;
	transition: opacity 0.5s ease 0s;
	opacity: 0;
	background-color: rgba(11, 3, 38, 0.9);
}

html.pushbar_locked .pushbar_overlay {
	opacity: 0.8;
	z-index: 999;
}

[data-pushbar-id] {
	z-index: 1000;
	position: fixed;
	overflow-y: auto;
	will-change: transform;
	transition: transform 0.5s ease 0s;
}

[data-pushbar-direction="left"][data-pushbar-id],
[data-pushbar-direction="right"][data-pushbar-id] {
	top: 0px;
	width: 256px;
	max-width: 100%;
	height: 100%;
}

[data-pushbar-direction="bottom"][data-pushbar-id],
[data-pushbar-direction="top"][data-pushbar-id] {
	left: 0px;
	width: 100%;
	min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
	left: 0px;
	transform: translateZ(0px) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
	right: 0px;
	transform: translateZ(0px) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
	top: 0px;
	transform: translateZ(0px) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
	bottom: 0px;
	transform: translateZ(0px) translateY(100%);
}

[data-pushbar-id].opened {
	display: block;
	transform: translateX(0px) translateY(0px);
}

[data-pushbar-id] {
	background-color: rgba(11, 3, 38, 0.95);
	z-index: 1002;
	width: 70% !important;
}

.push-container {
	color: white;
}

.push-container .mobile_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.push-container .mobile_container .overlay__ {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.24);
	z-index: -1;
}

.push-container .mobile_container .menu___ {
	width: 100%;
	height: 41vh;
	position: relative;
	background: linear-gradient(99deg,
			rgba(4, 4, 4, 0.65) 0%,
			rgba(0, 0, 0, 0.68) 100%);
}

.push-container .mobile_container .menu___ .mobile_menu_logo {
	position: absolute;
	width: 9rem;
	left: 45%;
	transform: translate(0px, 35px);
}

.push-container .container-fluid {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.push-container .container-fluid .mobile__navigation__ ul .hover_item a svg {
	fill: var(--custom-purple-color);
	opacity: 1;
	transition: fill 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.push-container .container-fluid .mobile__navigation__ ul .hover_item a:hover svg {
	fill: var(--white-color);
}

#close {
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	top: 1.4rem;
	left: 1.9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#close i {
	font-size: 2.2rem;
	color: rgba(255, 255, 255, 0.66);
}

#close .close_text {
	font-size: 1.1rem;
}

.pushbar_overlay {
	background-color: rgb(16, 17, 18);
}


/* -- // Pushbar CSS Custom code -- */

	/*-- Heading-1 --*/

	.agileheader .heading {
		position: absolute;
		left: 0;
		right: 0;
		top: 30%;
		background-color: rgba(0,0,0,0.75);
		width: 50%;
		margin: 0 auto;
		padding: 50px;
	}

	.heading h1 {
		font-family: 'Press Start 2P', cursive;
		font-size: 50px;
		color: #EEE;
	}

	.heading h2 {
		font-family: 'Roboto', sans-serif;
		font-size: 50px;
		font-weight: 100;
		color: #EEE;
		margin: 30px 0;
	}

	.heading h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		font-weight: 100;
		color: #EEE;
		padding: 20px;
		background-color: rgba(102, 102, 102, 0.75);
	}

	/*-- //Heading-1 --*/

	/*-- Slider --*/

	.rslides {
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.rslides:after,
  .rslides::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	-webkit-clip-path: polygon(0 0,0 100%,100% 100%);
	clip-path: polygon(0 0,0 100%,100% 100%);
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(200deg,
			rgb(158, 97, 255),
			rgba(142, 97, 255, 0) 34%),
		radial-gradient(circle at 0% -100%,
			rgb(97, 155, 255) 20%,
			rgba(205, 219, 248, 0) 51%),
		linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
	height: 60px;
	z-index: 10;
	}
  .rslides:after {
    left: auto;
    right: 0;
    -webkit-clip-path: polygon(100% 0,0 100%,100% 100%);
    clip-path: polygon(100% 0,0 100%,100% 100%);
}
	.rslides li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
	}

	.rslides li:first-child {
		position: relative;
		display: block;
		float: left;
	}

	.rslides img {
		display: block;
		float: left;
		width: 100%;
		height: 1000px;
		border: 0;
		object-fit: cover;
	}

	.callbacks_nav {
		display: none;
	}

	ul.callbacks_tabs.callbacks1_tabs {
		display: none;
	}

	/*-- //Slider --*/

/*-- //Header --*/



/*-- About --*/

.w3lsaboutaits {
	background: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 68%)) center center / cover no-repeat fixed, url(../images/tabs-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}
.w3lsaboutaits-grids{
	display: flex;
	align-items: center;
}
.w3lsaboutaits-grid-1 h3 {
	text-align: left;
	line-height: 40px;
	margin-bottom: 20px;
}

.w3lsaboutaits-grid-1 p {
	line-height: 30px;
	font-size: 16px;
	color: #777;
	margin-bottom: 20px;
}
 .animated-image {
	animation: 2s ease-in-out 0s infinite alternate none running pulse;
} 


@keyframes pulse {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
} 



/*-- //About --*/

/*-- // Banner --*/


.banner_ {
	position: relative;
	text-align: center;
	padding: 200px 0px 200px 0;
	background-image:url(../images/newimg-folder/backgroundImg/community.jpg);
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	z-index: 1;
}
.banner_::before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.253));
    z-index: -1;
}

.banner_ .row{
	display: flex;
	justify-content: center;
}

.banner_ h3 span{
	color: rgb(44, 193, 133);
}
.banner-content .server-description {
	margin: 0 0 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fefefe;
    letter-spacing: .9px;
	margin-top: 9px;
}




/*-- // Banner --*/

/*-- Platforms --*/

.w3agile_gallery_grid {
	padding: 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.w3agile_gallery_grid figure {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.w3agile_gallery_grid figure:hover figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	top: 0;
}

.w3agile_gallery_grid figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: -100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.w3agile_gallery_grid figcaption h4 {
	color: #FFF;
	padding: 0;
	position: relative;
	left: 100%;
	font-size: 40px;
	font-weight: 700;
	margin: 1em 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
	text-align: center;
	text-transform: uppercase;
}

.w3agile_gallery_grid figcaption p {
	font-family: 'Open sans';
	line-height: 2em;
	text-align: center;
	padding: 0px 20px;
	margin-bottom: 0;
	position: relative;
	left: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: 1.3s;
	-moz-transition-delay: 1.3s;
	-o-transition-delay: 1.3s;
	-ms-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

.w3agile_gallery_grid figure:hover h4,.w3agile_gallery_grid figure:hover p {
	left: 0;
}

.w3agile_gallery_image p span img {
	width: 100px;
}

/*-- //Platforms --*/



/*-- Tabs --*/

.wthreetabsaits {
	background: linear-gradient(rgb(0 0 0 / 44%), rgb(0 0 0 / 51%)), url(../images/tabs-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}

.wthreetabsaits h3 {
	margin-bottom: 20px;

}

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	/*--w3layouts--*/
	/*--agileits--*/
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	/*--w3layouts--*/
	/*--agileits--*/
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: fit-content;
	margin: 0 10px;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*--w3layouts--*/
	/*--agileits--*/
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 20px;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

.content-wrap {
	position: relative;
	margin-top: 50px;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	/*--w3layouts--*/
	/*--agileits--*/
	line-height: 1;
}

.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

.tabs-style-line nav ul {
	padding: 0;
	max-width: none;
}

.tabs-style-line nav a {
	padding: 0.7em 0.4em;
	box-shadow: inset 0 -2px #d1d3d2;
	color: #74777b;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	line-height: 1;
	-webkit-transition: color 1.5s, box-shadow 1.5s;
	transition: color 1.5s, box-shadow 1.5s;
}

.tabs-style-line nav a:hover, .tabs-style-line nav a:focus {
	box-shadow: inset 0 -2px #FFF;
	color: #FFF;
}

.tabs-style-line nav li.tab-current a {
	box-shadow: inset 0 -2px #2CC185;
	color: #2CC185;
}

.wthreetabsaits .item {
	border: 1px solid #EEE;
	border-left: none;
}

.agileinfoitem-image {
	border-bottom: 1px solid #777;
}

.wthreetabsaits .item h3 {
	font-size: 22px;
	color: #F44336;
	margin: 20px 0;
}

.wthreetabsaits .item h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 100;
	color: #CCC;
	margin-bottom: 20px;
}
.content-wrap img{
	height: 255px;
	object-fit: cover;
	object-position: center center;
}
.content-wrap .button__{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.content-wrap .button__:hover{
	color: #FFFF;
}

/*-- Rating --*/

.wthreeratingaits {
	margin-bottom: 20px;
}

.wthreeratingaits ul li {
	display: inline-block;
	color: #FFEB3B;
}

/*-- //Rating --*/

.wthreetabsaits .item .wthreeitemdownload {
	margin-bottom: 20px;
}

.wthreeitemdownload a {
	padding: 7px 20px;
	background-color: #777;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #FFF;
}

.wthreeitemdownload a:hover {
	color: #000;
	background-color: #FFF;
}

/*-- //Tabs --*/


/*-- //Staff --*/

.staff_team {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image:url(../images/newimg-folder/backgroundImg/bg-3.jpg);
	background-attachment: fixed;
	position: relative;
	z-index: 1;
}
.staff_team::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0 0 0 / 46%);
	z-index: -1;
}

.staff_team .common-description {
	color: rgb(255 255 255);
}

.staff_team .section-subheading {
	font-size: 16px;
	margin-bottom: 9px;
	color: #FFFF;
}

.staff_team .highlight {
	color: rgb(229, 0, 242);
	font-weight: 500;
}
.staff_team .d_flex{
	display: flex;
	justify-content: center;

}
.staff_team .row:nth-child(1) .col-lg-3 {
	margin-left: 24px;
}

.staff_team .row:nth-child(2) .col-lg-3 {
	width: 23%;
	margin-left:27px;
}

.image-container-hover {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.image-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	perspective: 1000px;
	transform-style: preserve-3d;
	will-change: transform;
}

.hover-effect {
	display: block;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.overlay__description {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(12, 6, 2, 0.77);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
}

.overlay__description p {
	width: 80%;
	text-align: center;
	font-size: 1rem;
	color: rgb(212, 212, 212);
	font-family: var(--manrope-font);
	font-style: normal;
	font-weight: 400;
}

.overlay__description .stream_profile {
	color: var(--white-color);
	margin-top: 0.7rem;
	font-family: var(--manrope-font);
	font-weight: 200;
	font-style: var(--font-style);
}

.overlay__description .stream_profile {
	position: relative;
}

.overlay__description .stream_profile::before {
	content: attr(data-steam);
	position: absolute;
	bottom: -26px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(0, 0, 0);
	padding: 2px 6px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.78);
	font-weight: 400;
	border: 0.1rem solid rgb(255, 255, 255);
}

.overlay__description .stream_profile:hover::before {
	opacity: 1;
	visibility: visible;
}

.image-container-hover:hover .overlay__description {
	opacity: 1;
}

.image-container-hover:hover .image-wrapper {
	transform: scale3d(1.1, 1.1, 1);
}

.img_information_container .name_text,
.img_information_container .title_text {
	font-family: var(--manrope-font);
	font-size: 1.3rem;
	font-style: var(--font-style);
}

.img_information_container .name_text {
	font-weight: 700;
	color: rgb(215, 216, 217);
	margin-bottom: 0;
	font-size: 16px;
}

.img_information_container .title_text {
	font-weight: 400;
	color: rgb(255, 46, 46);
	margin-top: 0.3rem;
}

.img_information_container .green_text {
	color: rgb(83, 230, 21);
}

/*-- //Staff --*/

/*-- Blogs --*/

.wthreeblogsaits {
	background-color: #0b0326;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18043d), color-stop(11%, #0b0326), color-stop(67%, #0b0326), to(#000));
    background-image: linear-gradient(180deg, #18043d, #0b0326 11%, #0b0326 67%, #000);
	padding: 100px 0;
}

.wthreeblogsaits h3 {
	margin-bottom: 20px;
}
.wthreeblogsaits .guide__title{
	color: #FFF;
	text-align: center;
}

.wthreeblogsaits-grid {
	padding: 0 10px;
}

.wthreeblogsaits-grid a {
	display: block;
	position: relative;
	margin-bottom: 25px;
}

.wthreeblogsaits-grid a:before {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0;
	content: "";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	border: 10px solid #FFF;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.wthreeblogsaits-grid a:hover:before {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.wthreeblogsaits-grid .button__ i{
	margin-left: 16px;
}
@media only screen and (max-width: 767px) {
	.wthreeblogsaits-grid a img {
		width: 100%;
	}
}

.wthreeblogsaits span.w3date {
	color: #FFF;
	font-size: 15px;
}

.wthreeblogsaits-grid h4 a {
	color: #2CC185;
	margin-top: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: 700;
}

.wthreeblogsaits-grid h4 a:before {
	display: none;
}

.wthreeblogsaits-grid p {
	font-size: 16px;
	color: #999;
	line-height: 25px;
	margin: 15px 0;
}

.wthreeblogsaits-grid button.btn {
	background: transparent;
	padding: 13px 30px;
	outline: none;
	border: 1px solid #FFF;
	border-radius: 0;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.wthreeblogsaits-grid button.btn i.fa {
	margin-left: 10px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.wthreeblogsaits-grid button.btn:hover i.fa {
	color: #2CC185;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.wthreeblogsaits-grid button.btn:hover {
	background-color: #000;
	border-color: #000;
}

/*-- //Blogs --*/



/*-- Portfolio --*/

.w3portfolioaits-item {
	padding: 0;
	
}
.w3portfolioaits {
	 background-color: #000;
}
.w3portfolioaits h3 {
    margin-bottom: 50px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
	background: #000;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
	height: 284px;
	object-fit: cover;
	object-position: center center;
}

.grid figure figcaption {
	padding: 7em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-apollo {
	background: #000;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

/*-- //Portfolio --*/



/*-- Stats --*/

.w3lsstatsaits {
	background: url("../images/newimg-folder/kfcrp-4.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #000;
	padding: 150px 0;
	font-family: 'Montserrat', sans-serif;
	border-top: 1px solid #FFF;
}

.w3lsstatsaits-info {
	text-align: center;
}

.w3lsstatsaits-img img {
	width: 100px;
}

.w3lsstatsaits-img {
	margin-bottom: 30px;
}

.w3lsstatsaitsstats {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #FFF;
}

.w3lsstatsaits-info p {
	font-size: 20px;
	color: #FFF;
}

/*-- //Stats --*/



/*-- Partners --*/

.aitspartnersw3l img {
	border: 1px solid #FFF;
	border-left: none;
}

/*-- //Partners --*/

/*-- //Testimonials --*/



/*-- //Testimonials --*/

/*-- w3lssponser --*/

.w3lssponser {
	padding: 30px 0;
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(rgb(0 0 0 / 44%), rgb(0 0 0 / 51%)), url(../images/tabs-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	border-bottom: .1px solid #393838;
}
.w3lssponser .w3lsnewsletter-grids{
	display: flex;
	align-items: center;
}
.w3lssponser .w3lsnewsletter-grid-2{
	display: flex;
	justify-content: center;
}


.sponser__text p {
	text-wrap: wrap;
	font-size: 25px;
	color: #FFF;
	margin-bottom: 0;
}
.w3lssponser .w3lsnewsletter-grid-2 img{
	width: 130px;
}


/*-- //w3lssponser --*/



/*-- Contact --*/

.agilecontactw3ls {
	background: linear-gradient(rgb(0 0 0 / 44%), rgb(0 0 0 / 51%)), url(../images/tabs-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}

.agilecontactw3ls h3 {
	margin-bottom: 50px;
}

.agilecontactw3ls-grid input[type="text"], .agilecontactw3ls-grid input[type="email"], .agilecontactw3ls-grid textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #0199e6;
	color: #fff;
	outline: none;
	background: transparent;
	border-left: 5px solid #0199e6;
	border-radius: 0;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.agilecontactw3ls-grid input[type="email"], .agilecontactw3ls-grid textarea {
	margin-bottom: 0;
}

.agilecontactw3ls-grid textarea {
	height: 160px;
}

.agilecontactw3ls-grid .send-button {
	margin-top: 5px;
}

.agilecontactw3ls input[type="submit"] {
	padding: 4px 40px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
	color: #000;
	border: 5px solid transparent;
	font-size: 16px;
	float: right;
}

.agilecontactw3ls input[type="submit"]:hover {
	background-color: transparent;
	border-color: #0199e6;
	color: #FFF;
}

/*-- //Contact --*/



/*-- Footer --*/

.agilefooterwthree {
	background: #0f161b;
	padding: 85px 0;
}

.agilefooterwthree-grid, .agilefooterwthreebottom-grid {
	padding: 0;
}

.agilefooterwthree-grid h4 {
	text-align: left;
	color: #FFF;
	margin-bottom: 20px;
}
.agilefooterwthree-grid img{
	width: 95px;
}
.agilefooterwthree-grid p{
	text-wrap: balance;
	font-size: 14px;
	color: rgb(173, 181, 189);
    line-height: 20px;
    margin: 15px 0;
}
.agilefooterwthree-grid ul li {
	display: block;
	color: #4CAF50;
	line-height: 25px;
}

.agilefooterwthree-grid ul li a {
	color: rgb(173, 181, 189);
}
.agilefooterwthree-grid ul li a svg {
	fill: rgb(173, 181, 189);
}

.agilefooterwthree-grid ul li a:hover {
	color: #EEE;
}

.agilefooterwthreebottom {
	margin-top: 10px;
	padding-top: 30px;
	border-top: 1px solid #777;
}
.agilefooterwthreebottom p{
	margin-bottom: 0;
}

/*-- //Footer --*/



/*-- Footer-Social-Icons --*/

.agilesocialwthree {
	text-align: right;
}

ul.social-icons li {
	display: inline-block;
	margin: 0 5px;
}

ul.social-icons li a {
	font-size: 35px;
	color: #EEE;
}

ul.social-icons li a.facebook:hover {
	color: #3b5998;
}

ul.social-icons li a.twitter:hover {
	color: #1dcaff;
}

ul.social-icons li a.googleplus:hover {
	color: #d34836;
}

ul.social-icons li a.instagram:hover {
	color: #517fa4;
}

ul.social-icons li a.youtube:hover {
	color: #bb0000;
}

/*-- //Footer-Social-Icons --*/



/*-- Copyright --*/

.copyright p {
	color: #CCC;
	line-height: 25px;
	margin-top: 13px;
}

.copyright p a {
	color: #CCC;
	font-family: 'Montserrat', sans-serif;
}

.copyright p a:hover {
	color: #FFF;
}

/*-- //Copyright --*/



/*-- Go-To-Top-Button --*/

.agileto-top i {
	font-size: 17px;
    float: right;
    margin-right: 40px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(200deg, rgb(158, 97, 255), rgba(142, 97, 255, 0) 34%), radial-gradient(circle at 0% -100%, rgb(97, 155, 255) 20%, rgba(205, 219, 248, 0) 51%), linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 3px;
}

/*-- //Go-To-Top-Button --*/

/*-- //fixed social media --*/

#fixed-social {
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(200deg,
			rgb(158, 97, 255),
			rgba(142, 97, 255, 0) 34%),
		radial-gradient(circle at 0% -100%,
			rgb(97, 155, 255) 20%,
			rgba(205, 219, 248, 0) 51%),
		linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
	position: fixed;
	left: 0px;
	bottom: 113px;
	z-index: 102;
	border-radius: 0.4rem;
}

#fixed-social a {
	color: rgb(255, 255, 255);
	display: block;
	height: 40px;
	position: relative;
	text-align: center;
	line-height: 40px;
	width: 40px;
	margin-bottom: 1px;
	z-index: 2;
}

#fixed-social .fixed-discord {
	border-bottom: 0.1rem solid #fff;
}


/*-- //fixed social media --*/

/*-- Text-Selection-Background-Color --*/

	/*-- Works on common browsers --*/
	::selection {
		background-color: #1e1e1e;
		color: #fff;
	}

	/*-- Mozilla based browsers --*/
	::-moz-selection {
		background-color: #1e1e1e;
		color: #fff;
	}

	/*-- For Other Browsers --*/
	::-o-selection {
		background-color: #1e1e1e;
		color: #fff;
	}

	::-ms-selection {
		background-color: #1e1e1e;
		color: #fff;
	}

	/*-- For Webkit --*/
	::-webkit-selection {
		background-color: #1e1e1e;
		color: #fff;
	}

/*-- //Text-Selection-Background-Color --*/





/*-- //Index-Page-Styling --*/










/*-- Responsive-Code --*/





@media screen and (max-width: 1920px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0 1em;
	}
}

@media screen and (max-width: 1680px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.25em 0 1em;
	}
}

@media screen and (max-width: 1600px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1em 0;
	}
}

@media screen and (max-width: 1440px) {
	.heading h3 {
		font-size: 38px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 0.8em 0;
	}
}

@media screen and (max-width: 1366px) {
	.heading h3 {
		font-size: 35px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 30px;
	}
	.wthreetabsaits .item h3 {
		font-size: 21px;
	}
}

@media screen and (max-width: 1280px) {
	.heading h3 {
		font-size: 30px;
	}
	.heading h3 {
		font-size: 30px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 18px;
	}
}

@media screen and (max-width: 1080px) {
	
	.agilehover-effect li {
		margin: 10px 0;
	}
	.agilehover-effect li a {
		font-size: 14px;
		padding: 10px;
	}
	.dropdown-menu {
		top: 50px;
		width: 265px;
	}
	
	.agileheader .heading {
		top: 35%;
		padding: 30px;
	}
	.heading h1 {
		font-size: 35px;
	}
	.heading h2 {
		font-size: 30px;
		margin: 20px 0;
	}
	.heading h3 {
		font-size: 25px;
	}
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 75px 0;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 30px;
		margin: 10px 0 30px;
	}
	.w3lsaboutaits-grid-1 p {
		font-size: 15px;
	}
	.w3agile_gallery_image p span img {
		width: 60px;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3{
		font-size: 35px;
		margin-bottom: 35px;
	}
	.wthreeblogsaits-grid a {
		margin-bottom: 15px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 17px;
		margin-top: 10px;
	}
	.wthreeblogsaits-grid p {
		font-size: 14px;
		line-height: 23px;
		margin: 10px 0;
	}
	.wthreeblogsaits-grid button.btn {
		padding: 10px 25px;
		font-size: 11px;
	}
	.w3lsstatsaits {
		padding: 100px 0;
	}
	.w3lsstatsaits-img img {
		width: 80px;
	}
	.w3lsstatsaitsstats {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.w3lsnewsletter-grid-1 {
		width: 40%;
		float: left;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 23px;
	}
	.w3lsnewsletter-grid-2 {
		width: 60%;
		float: left;
	}
	.email-form input.submit {
		margin-left: 0;
	}
}

@media screen and (max-width: 1024px) {
	.tabs {
		font-size: 1em;
	}
	.tabs-style-line nav a {
		letter-spacing: 0;
	}
	.wthreetabsaits .item h3 {
		font-size: 20px;
		margin: 15px 0;
	}
	.wthreetabsaits .item h4 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.wthreeratingaits {
		margin-bottom: 15px;
	}
	.wthreeratingaits ul li {
		font-size: 1em;
	}	
	.wthreeitemdownload a {
		padding: 6px 15px;
		font-size: 13px;
	}
}

@media screen and (max-width: 991px) {
	
	.heading h3 {
		font-size: 22px;
		padding: 15px;
	}
	.container {
		width: 100%;
	}
	.w3lsaboutaits-grid {
		width: 50%;
		float: left;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2em 0;
	}
	.w3agile_gallery_image p span img {
		width: 100px;
	}
	.agileinfoplatforms {
		border-top: 1px solid #EEE;
		border-bottom: 1px solid #EEE;
	}
	.w3agile_gallery_grid {
		padding: 0;
		width: 50%;
		float: left;
		border: none;
	}
	.content-wrap {
		margin-top: 30px;
	}
	.wthreeblogsaits-grid {
		width: 50%;
		float: left;
		margin-bottom: 50px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 20px;
	}
	.wthreeblogsaits-grid p {
		margin: 15px 0;
	}
	.wthreeblogsaits-grid-3, .wthreeblogsaits-grid-4 {
		margin: 0;
	}
	.w3portfolioaits-item {
		padding: 0;
		width: 33.3%;
		float: left;
	}
	.w3lsstatsaits-grid {
		width: 25%;
		float: left;
	}
	.agilecontactw3ls-grid {
		width: 50%;
		float: left;
		padding: 5px;
	}
	.agilefooterwthree-grid {
		width: 25%;
		float: left;
	}
	.agilefooterwthreebottom-grid {
		width: 50%;
		float: left;
	}
}


@media screen and (max-width: 900px) {
	
	.agilehover-effect li a {
		font-size: 13px;
		padding: 10px 7px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 25px;
		margin: 0 0 15px;
		line-height: 30px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 27px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0;
	}
	.modal-body p {
		font-size: 15px;
		padding: 25px 10px 0;
	}
	.tabs nav a span {
		font-size: 18px;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 20px;
	}
	.email-form input.email {
		padding: 10px;
	}
	.email-form input.submit {
		padding: 11px 29px;
	}
}

@media screen and (max-width: 853px) {
	
	.agilehover-effect li a {
		letter-spacing: 0.5px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 20px;
		margin: 0 0 10px;
		line-height: 27px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 25px;
	}
	.email-form input.email {
		width: 68%;
	}
}

@media screen and (max-width: 800px) {
	.heading h3 {
		font-size: 20px;
		padding: 10px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 23px;
		font-size: 14px;
		color: #888;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.3em 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 19px;
	}
	.email-form input.submit {
		padding: 11px 27px;
		font-size: 13px;
	}
	.agilefooterwthree {
		padding: 50px 0;
	}
	.agilefooterwthreebottom-grid {
		width: 100%;
		text-align: center;
	}
	.copyright p {
		margin-top: 0;
	}
	.agilesocialwthree {
		text-align: center;
		margin-top: 20px;
	}
	.agileto-top img {
		margin-right: 8px;
	}
}

@media screen and (max-width: 768px) {
	.agilehover-effect li a {
		letter-spacing: 0;
		padding: 10px 6px;
	}
	.navbar-brand{
		display: flex;
		align-items: center;
	}
	.hamburger-menu {
		opacity: 1;
		visibility: visible;
	}
	.agileheader .heading {
		top: 33%;
	}
	.heading h1 {
		font-size: 30px;
	}
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 50px 0;
	}
	.w3lsaboutaits-grid-1 {
		padding: 0;
	}
	.w3lsaboutaits-grid-3 {
		padding-right: 0;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.25em 0;
	}
	.tabs nav a span {
		font-size: 17px;
	}
	.modal-title {
		font-size: 27px;
	}
	.modal-body {
		padding: 20px;
	}
	.modal-body p {
		font-size: 14px;
		padding: 20px 5px 0;
		line-height: 25px;
	}
	.w3lsstatsaits {
		padding: 75px 0;
	}
	.w3lsstatsaits-img img {
		width: 65px;
	}
	.w3lsstatsaitsstats {
		font-size: 25px;
	}
	.w3lsnewsletter-grid {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 25px;
	}
	.w3lsnewsletter-grid-1 {
		margin-bottom: 20px;
		padding: 0;
	}
	.email-form input.email {
		width: 50%;
	}
	.agilefooterwthree-grid h4 {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.agilefooterwthree-grid ul li {
		line-height: 23px;
		font-size: 13px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-inverse {
		padding: 5px 0;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #EEE;
		border-radius: 0;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background-color: #000;
	}
	div#navbar {
		padding: 0;
	}
	.agilehover-effect ul {
		background-color: #000;
	}
	.agilehover-effect li a {
		padding: 10px 14px;
		font-size: 14px;
	}
	li.dropdown.open {
		float: right;
	}
	.dropdown-menu {
		width: 95%!important;
		padding: 0;
		margin: 0 auto;
	}
	.dropdown-menu form {
		width: 48%;
		float: left;
		margin: 0 6px;
	}
	.w3registeragile h3 {
		margin-top: 5px;
	}
}

@media screen and (max-width: 736px) {
	.heading h3 {
		font-size: 19px;
		padding: 10px 5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.2em 0;
	}
	.w3lsstatsaits-info p {
		font-size: 18px;
	}
}

@media screen and (max-width: 667px) {
	.agilehover-effect li a {
		padding: 10px;
		font-size: 13px;
	}
	.agileheader .heading {
		width: 60%;
	}
	.heading h1 {
		font-size: 29px;
	}
	.heading h2 {
		font-size: 25px;
		margin: 15px 0;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1em 0;
	}
	.tabs nav a span {
		font-size: 16px;
	}
	.modal-body p {
		padding: 20px 0 0;
	}
	.w3lsstatsaits-img {
		margin-bottom: 20px;
	}
	.w3lsstatsaits-img img {
		width: 60px;
	}
	.w3lsstatsaitsstats {
		font-size: 22px;
	}
	.w3lsstatsaits-info p {
		font-size: 16px;
	}
}

@media screen and (max-width: 640px) {
	.agilehover-effect li {
		display: block;
	}
	.dropdown-menu form {
		margin: 0 5px;
	}
	.w3lsaboutaits-grid {
		width: 100%;
		padding: 0;
	}
	.w3lsaboutaits-grid-1 {
		margin-bottom: 20px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 23px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 25px;
	}
	.w3agile_gallery_image p span img {
		width: 75px;
	}
	.tabs nav a span {
		font-size: 15px;
	}
	.w3lsstatsaits-grid {
		padding: 0;
	}
	.agilefooterwthree-grid {
		width: 50%;
		float: left;
	}
	.agilefooterwthree-grid1, .agilefooterwthree-grid2 {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 603px) {
	.heading h3 {
		font-size: 17px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.1em 0;
		font-size: 25px;
	}
	.wthreetabsaits .item h3 {
		font-size: 18px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 19px;
	}
	.wthreeblogsaits-grid p {
		margin: 10px 0 15px;
	}
	.email-form input.email {
		width: 60%;
	}
	.agilecontactw3ls input[type="submit"] {
		font-size: 14px;
	}
}

@media screen and (max-width: 568px) {
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 35px 0;
	}
	.wthreetabsaits .item h4 {
		font-size: 15px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 18px;
	}
	.modal-title {
		font-size: 25px;
	}
	.modal-header {
		padding: 10px 15px;
	}
	.w3lsstatsaits {
		padding: 50px 0;
	}
	.w3lsnewsletter {
		padding: 30px 0;
	}
}

@media screen and (max-width: 533px) {
	.w3loginagile h3, .w3registeragile h3 {
		font-size: 18px;
		margin: 5px 0 10px;
	}
	.dropdown-menu form {
		margin: 0 4px;
	}
	.agileheader .heading {
		width: 65%;
		padding: 20px;
		top: 35%;
	}
	.heading h1 {
		font-size: 25px;
	}
	.heading h2 {
		font-size: 20px;
	}
	.heading h3 {
		font-size: 16px;
		padding: 10px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 22px;
	}
	.w3agile_gallery_image p span img {
		width: 50px;
	}
	.tabs nav a span {
		font-size: 14px;
	}
	.wthreetabsaits .item h3 {
		font-size: 17px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 17px;
	}
	.w3lsstatsaits-grid {
		width: 50%;
	}
	.w3lsstatsaits-grid-1, .w3lsstatsaits-grid-2 {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.w3loginagile input[type="text"], .w3loginagile input[type="password"], .w3registeragile input[type="text"], .w3registeragile input[type="password"] {
		padding: 5px;
		border-left: 3px solid #0199e6;
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: 400;
	}
	.dropdown-menu input[type="submit"] {
		padding: 3px 25px;
		border: 2px solid transparent;
		font-size: 11px;
	}
	.heading h1 {
		font-size: 20px;
	}
	.agileheader .heading {
		top: 34%;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 20px;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3 {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.tabs-style-line nav a {
		padding: 0.7em 0;
	}
	.tabs nav a span {
		font-size: 13px;
	}
	.modal-title {
		font-size: 20px;
	}
	.modal-body {
		padding: 10px;
	}
	.modal-body p {
		padding: 15px 0 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 20px;
	}
	.email-form input.email {
		width: 65%;
		font-size: 12px;
		padding: 7px;
	}
	.email-form input.submit {
		padding: 7px 25px;
		font-size: 12px;
		margin-top: 5px;
	}
	.agilecontactw3ls-grid {
		width: 100%;
		padding: 0;
	}
	.agilecontactw3ls-grid input[type="text"], .agilecontactw3ls-grid input[type="email"], .agilecontactw3ls-grid textarea {
		margin-bottom: 5px;
		font-size: 11px;
		padding: 7px;
		border-left: 3px solid #0199e6;
	}
	.agilecontactw3ls-grid textarea {
		height: 100px;
	}
	.agilecontactw3ls-grid .send-button {
		margin-top: 0;
	}
	.agilecontactw3ls input[type="submit"] {
		font-size: 12px;
		padding: 4px 40px;
		border: 2px solid transparent;
	}
	.agileto-top img {
		margin-right: 13px;
		width: 35px;
	}
}

@media screen and (max-width: 414px) {
	.rslides img {
		height: 250px;
	}
	
	.dropdown-menu form {
		margin: 10px 0;
		width: 100%;
	}
	.agileheader .heading {
		top: 36%;
		width: 75%;
		padding: 15px;
	}
	.heading h2 {
		font-size: 18px;
	}
	.heading h3 {
		font-size: 15px;
		padding: 7px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 17px;
		line-height: 25px;
	}
	.w3agile_gallery_grid {
		width: 100%;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2.25em 0;
	}
	.tabs-style-line nav a {
		padding: 1em 20px;
	}
	.wthreetabsaits .item h3 {
		font-size: 20px;
		margin: 20px;
	}
	.wthreetabsaits .item h4 {
		font-size: 17px;
		margin-bottom: 20px;
	}
	.wthreeratingaits {
		margin-bottom: 20px;
	}
	.wthreetabsaits .item .wthreeitemdownload {
		margin-bottom: 30px;
	}
	.wthreeblogsaits-grid {
		width: 100%;
		margin-bottom: 40px;
	}
	.wthreeblogsaits-grid-4 {
		margin: 0;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 20px;
	}
	.w3portfolioaits-item {
		width: 50%;
	}	
	.owl-wrapper {
		background-color: #000;
	}
	.aitspartnersw3l img {
		width: 200px;
		border: none;
	}
	.w3lsnewsletter-grid-1 {
		margin-bottom: 10px;
	}
	.email-form input.email {
		width: 100%;
	}
	.email-form input.submit {
		float: right;
	}
}

@media screen and (max-width: 360px) {
	.agileheader .heading {
		width: 80%;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2em 0;
	}
}

@media screen and (max-width: 320px) {
	.agileheader .heading {
		width: 90%;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 18px;
	}
	.agilefooterwthree-grid h4 {
		font-size: 15px;
		margin-bottom: 5px;
	}
}





/*-- //Responsive-Code --*/